# want to ignore .res and .log files because these will be generated so often
./**/*.res
./**/*.log

# want to ignore HAWC2 .exe and .so files
hawc2-main/*.so*
hawc2-main/*.exe

# ignore generated htc files

